body{ 
    font-family: Arial, sans-serif;
    margin: 20px;
}

nav {
    background-color: rgb(8, 54, 23);
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

nav a {
    margin-right: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: rgb(83, 197, 112);
}
h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

.tab {background-color: rgb(8, 53, 11);}
.mon {background-color: rgb(67, 161, 72);}
.tue {background-color: rgb(33, 126, 46);}
.wed {background-color: rgb(53, 126, 65);}
.thu {background-color: rgb(83, 177, 114);}
.fri {background-color: rgb(80, 167, 84);}